################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularApp1/.vs/AngularApp1/FileContentIndex
/AngularApp1/.vs/AngularApp1/v17
